/* style.css */
body {
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  body::before {
    content: "";
    position: absolute; /* Posição absoluta para cobrir todo o body */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/img1.jpeg'); /* Substitua com o caminho para sua imagem */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Mantém a imagem de fundo fixa */
    background-repeat: no-repeat;
    opacity: 1.0; /* Ajuste a opacidade aqui (0 é totalmente transparente, 1 é totalmente opaco) */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
  }
  
  body {
    background-color: #f2eeff; /* Cor de fundo, se necessário */
  }

@media (max-width: 480px) {
  body::before {
    background-image: url('img/img1.jpeg'); /* Imagem otimizada para celular */
  }
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho fixo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #010C28;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

/* Estilo da navegação */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar a i {
    margin-right: 8px;
}

/* Menu toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: #E1B15C;
    margin: 4px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .navbar {
        display: none;
        flex-direction: column;
        background: #010C28;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        border: 1px solid #E1B15C;
    }

    .navbar.active {
        display: flex;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        margin: 10px 0;
    }
}


/* Seção Sobre a Empresa */
.home {
    background-image: url('img/back.jpeg'); /* Ajuste o caminho conforme necessário */
    background-size: cover;
    background-position: center;
    padding: 60px 20px; /* Você pode ajustar isso se quiser mais ou menos espaço */
    min-height: 250px; /* Adiciona uma altura mínima para garantir que a seção tenha uma altura visível */
    text-align: center;
    color: #ffff;
}

.home::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
}

.home .container {
    position: relative;
    z-index: 2;
}

/* Adicione essa regra para dispositivos móveis */
@media (max-width: 768px) {
    .home {
      padding: 40px 10px; /* Reduz o padding para dispositivos móveis */
      min-height: 200px; /* Reduz a altura mínima para dispositivos móveis */
    }
  }
  
  /* Adicione essa regra para dispositivos móveis menores */
  @media (max-width: 480px) {
    .home {
      padding: 20px 5px; /* Reduz o padding ainda mais para dispositivos móveis menores */
      min-height: 250px; /* Reduz a altura mínima ainda mais para dispositivos móveis menores */
    }
  }

/* Seção Portfólio */
.portfolio {
    padding: 60px 20px;
}

.portfolio h2 {
    color: #f4f4f4;
    font-size: 35px;
    text-align: center;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 100%; /* Ajustado para largura responsiva */
    max-width: 300px; /* Limite máximo para não ultrapassar o tamanho */
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 10px; /* Ajustado para espaçamento entre os cards */
    border-radius: 5px;
    background-color: transparent; /* Fundo transparente */
    box-sizing: border-box; /* Para garantir que o padding não afete o tamanho do card */
}

/* Imagem do Card */
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

/* Wrapper para o efeito 3D */
.card .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    background-color: transparent; /* Fundo transparente */
}

/* Efeito no hover */
.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

/* Gradiente nos antes e depois */
.card .wrapper::before,
.card .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.card .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
}

.card .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
}

/* Adicione essa regra para dispositivos móveis */
@media (max-width: 768px) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
    
    .card {
      margin: 20px 0;
    }
  }

/* Opacidade do gradiente no hover */
.card:hover .wrapper::before,
.card:hover .wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

/* Efeito de transformação na imagem */
.card img.title {
    width: 100%;
    transition: transform 0.5s;
}

.card:hover img.title {
    transform: translate3d(0%, -50px, 100px);
}



/* Imagem com efeito ao passar o mouse */
.card img.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover img.character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

/* Botão "Ver Mais" */
.ver-mais {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Espaçamento acima do botão */
}

.btn-ver-mais {
    padding: 40px 84px;
    background-color: #E1B15C;
    color: #000000;
    font-size: 30px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-ver-mais:hover {
    background-color: #010C28;
    color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* Seção Sobre */
.sobre {
    background-color: #010C28;
    color: #fff;
    padding: 20px;
}

.sobre .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha em telas menores */
    gap: 20px; /* Espaçamento entre as colunas */
}

.sobre .coluna {
    flex: 1; /* Cada coluna ocupa o mesmo espaço */
    margin: 0 10px; /* Espaçamento entre as colunas */
    min-width: 300px; /* Define um tamanho mínimo para as colunas */
    box-sizing: border-box;
}

.sobre .esquerda {
    text-align: center;
    font-weight: 300;
    font-size: 45px;
    margin-top: -15px;
    color: #E1B15C
}

.sobre .esquerda h2 {
    font-size: 32px; /* Tamanho maior para o texto da esquerda */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
}

.sobre .esquerda p {
    font-size: 18px;
}

.sobre .meio {
    text-align: justify;
    line-height: 1.5;
    color: #d0c3c3;
    font-size: 16px;
    padding: 0 15px;
}

.sobre .meio h2 {
    font-size: 24px; /* Tamanho médio para o texto do meio */
    margin-bottom: 10px;
}

.sobre .meio p {
    font-size: 20px;
    margin-top: 42px;
}

.sobre .direita h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sobre .grid {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os itens do grid */
}

.sobre .item {
    background-color: #fff;
    color: #383535;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    .sobre .container {
        flex-direction: column; /* Empilha as colunas em telas menores */
    }

    .sobre .coluna {
        margin: 0 auto; /* Centraliza as colunas */
        width: 100%; /* As colunas ocupam toda a largura */
    }

    .sobre .esquerda h2,
    .sobre .meio h2,
    .sobre .direita h2 {
        font-size: 20px; /* Reduz o tamanho do título em telas menores */
    }

    .sobre .esquerda p,
    .sobre .meio p {
        font-size: 16px; /* Reduz o tamanho do texto */
    }

    .sobre .item {
        padding: 10px; /* Reduz o padding dos grids */
    }
}

  
/* Seção Clientes */
.clientes h2 {
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.clientes .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.clientes .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Card ocupa 100% da célula da grid */
    max-width: 350px; /* Ajuste o tamanho máximo aqui, se necessário */
    height: auto; /* Ajuste a altura para auto, de modo que o texto não sobrescreva a imagem */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo de cima para baixo */
    justify-content: center; /* Centraliza o conteúdo no eixo vertical */
    align-items: center; /* Centraliza o conteúdo no eixo horizontal */
}

.clientes .card img {
    width: 100%;
    max-height: 100px; /* Controle a altura da imagem conforme necessário */
    object-fit: contain;
    margin-bottom: 10px;
}

.clientes .card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center; /* Garantir que o texto do título também esteja centralizado */
}

/* Seção Imagens */
.imagens {
    background: #010C28;
    padding: 60px 20px;
    text-align: center;
    color: #E1B15C;
    
}

.imagens h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #E1B15C;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    gap: 15px;
    padding: 20px 0;
}

.gallery img {
    width: 100%; /* Ocupa toda a largura do grid */
    height: 200px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Ajusta o conteúdo da imagem */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombras suaves */
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
}


/* Seção Contatos */
.contacts {
    padding: 60px 20px;
}

.contact-title {
    color:#f4f4f4;
    text-align: center;
    font-size: 35px;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.contact-list {
    width: 30%; /* Ajusta a largura da caixinha */
}

.contact-list h4 {
    text-align: center; /* Centraliza o título dentro da caixinha */
    margin-top: 0;
    margin-bottom: 10px;
}

.contact-list p {
    text-align: center; /* Centraliza o texto dos links dentro da caixinha */
    margin: 10px 0;
}

.contact-list a {
    display: inline-block; /* Ajusta a largura da caixa ao conteúdo */
    padding: 8px; /* Reduz o padding */
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; /* Faz a caixa ocupar toda a largura disponível */
}

.contact-list a:hover {
    background-color: #ddd;
    color: #000;
}

.map-container {
    width: 40%; /* Mantém a largura original do mapa */
    height: 300px; /* Mantém a altura original do mapa */
    margin-left: 20px; /* Adiciona margem à esquerda do mapa para afastá-lo das caixinhas */
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.footer {
    background-color: #010C28;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

/* Adicione essa regra para dispositivos móveis */
@media (max-width: 768px) {
    .contacts-container {
      flex-direction: column;
      align-items: center;
    }
    
    .contact-list {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .map-container {
      width: 100%;
      height: 250px;
      margin-left: 0;
    }
  }
  
  /* Adicione essa regra para dispositivos móveis menores */
  @media (max-width: 480px) {
    .contact-list a {
      padding: 5px;
      font-size: 14px;
    }
    
    .map-container {
      height: 200px;
    }
  }

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Oculta o menu por padrão em dispositivos móveis */
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle.active + .navbar {
        display: flex; /* Exibe o menu quando a classe "active" é adicionada */
        flex-direction: column;
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar li {
        margin: 10px 0;
    }
    
    header {
        padding: 10px 10px; /* Ajuste a altura do cabeçalho em dispositivos móveis */
    }

}
